body{
    display: grid;
}

body{
    gap: 0.5rem;
    grid-template-columns: repeat(3, 2fr)
    grid-tamplate-rows: 150px 100px 200px;
    grid-template-areas:
    "green green green"
    "yellow red blue "
    "orange orange blue "
    
}

#green{
    grid-area:green ;
}

#yellow{
    grid-area: yellow;

}

#orange{
   grid-area: orange;
}

#red{
    grid-area: red;
}

#blue{
    grid-area: blue;
}